body {


font-size: 16;
width: 800px;
}
#wrapper{
  border: 3px solid black;

  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 28px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


}

}


.white {
  color: white;
}

h1 {
  grid-column: span 12;
  background-color: grey;
  border: 1px solid grey;
  padding: 5px;
  width: 974px;
  color: black;
  text-align: center;
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
  padding-left: 1em;
  display: inline-block;
}

h2 {
  font-weight: normal;
font-family: Helvetica;

width: 70%;
grid-column: span 4;
margin: 100px 10px 10px 10px;
display: inline;
}

}
nav{
  grid-column: span 6;
}

nav ul {
  list-style-type:none;
border: 0px solid red;
margin: 0;
padding: 0;
;
}

nav li {
  color: white;
  width: 175px;
margin-bottom: 10px;
margin-left: 20px;
margin-right: 20px
padding: 0px;
background-color: grey;


}

nav li a {
  display: block;

padding: 10px;
text-decoration: none;
color: white;
background-color: grey;
grid-column: span 6;
}


nav li a:hover {
  background-color: darkred;
  color: blue;
}

main {
  font-weight: bold;
  font-family: Georgia;
  text-align: justify;
  color: red;
  grid-column: span 9;
}

main a:link {
 color: red;
}

main a:visited {
 color: red;
 text-decoration: normal;
}

main a:active {
 color: red;
}

main a:hover {
 color: red;
 text-decoration: underline;
}

footer {
color: black;
background-color: blue;
grid-column: span 12;
font-family: Verdana;
font-style: italic;
border: 5px solid black;
border-top: 3px solid black;
}
aside{text-align: right;

}
nav{
  text-align: right;
  grid-column: span 6;
}
